@media (max-width: 900px) and (min-width: 368px) {

  html{
    font-size:5px;
  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  /* ----------------------------------------------------------------- */

  /*....nav Section....*/


.cross{
   z-index:215 ;
  display: inline-block;
  position: absolute;
  top:12px;
  right:-30px;
  height:50px;
  width:50px;
  background:transparent;
  border: transparent;
  
}

.cross1{
  position:relative;
  top:10px;
  right:50px;
  font-size:4rem;
}


.topsection{
  z-index:115;
  text-align: center;


}
.ul-list{
  height: 100%;
  list-style-type: none;

}

.ul-list li{
  position: relative;
  left:10px;
  width: 90%;
  display: block;
  float: left;

}
.x{
  font-size: 5rem;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  font-family:sans-serif;
  letter-spacing:3px;
  position: relative;
  left:10px;
  

}
.hm-1{
  padding:1px 35%;
}

.pr-1{
padding:1px 35%;
}
.sk-1{
  padding:1px 35%;
}

.wr-1{
  padding:1px 35%;

}

.cn-1{
  padding:1px 25%;

}

/*--------------------------------------------------------------*/

/*---home btn------*/

.navbarsection{
  position:fixed;
  z-index: 55;
  max-width:100vw;
  height: 10rem;
  backdrop-filter: blur(2rem);
  background:rgba(0,0,0,0.002);
}

.navbarsection h1{
  position: absolute;
  left:10rem;
  top:5rem;
  font-size: 5rem;

}
.navbarsection h1 a{
  text-decoration: none;
  color:#fff;
}

.navbarsection span{
  color: aqua;
}

#hamburger{
  display: inline-block;
  position: absolute;
  top:3rem;
  right:5rem;
  height:7rem;
  width:7rem;
  background:transparent;
  border: transparent;
  cursor:pointer;
  background-color: transparent;
  transition:0.5s;
}

.fs{
  display: inline-block;
  width:4rem;
  background-color: #fff;
  border: 0.2rem solid #fff;
}


.ss{
  position: relative;
  bottom: 0.2rem;
  display:inline-block;
  width:3rem;
  max-width:50%;
  background-color: #fff;
  border: 0.2rem solid #fff;
  

}
.work{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*.... Social Links ....*/

.bottom-container {
  height: 50px;
  width: 70%;
  display: inline-block;
  line-height: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left:10rem;
  top:100rem;

}

.footer-link i{
  width:50px;
}
.footer-link {
  margin-right: 3rem;
  text-align: center;
  font-size:20px;
  display: inline-block;
  margin-right: 1px!important;
}

/* ----------------------HOME PAGE---------------------- */
.bchome{
  width: 60rem;
  height: 60rem;
  position: absolute;
  left:30rem;
  top:90rem;
  opacity: 0.5;

}
.top-nm {
  display: inline-block;
  position: relative;
  top:50rem;
  left: 20rem;
  height: 50rem;
  width: 70%;
  max-width:100%;
  z-index: 10;
  margin: 0;
  position: relative;
  background-color:transparent;

}

.scrdwn{
  width:25%;
  height:3rem;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  position:relative;
  left:0;
  bottom:0;
  font-family: sans-serif;
  color: rgb(205, 203, 200);
  transform: rotate(90deg);
}




/*--------------------------------------------------------------*/

/*.... profile ....*/

#profile {
  width: 100%;
display:flex;
flex-direction:column;
flex-wrap: wrap;
  background-color: #202020;
  color: #808080;
  height:900px;
}

.abt-me{
    display: none;

}

.myself{
  position: relative;
  left:-50px;
  top:10px;
  height:130px;
  width:350px;

}

.mypic {
  width: 130px;
  height: 130px;
  display: inline-block;
  position:absolute;
  left:10px;
  
}

.nm-h3 {
  width:130%;
  height:30px;
  display: inline-block;
  font-size: 25px;
  letter-spacing: 2px;
  position:absolute;
  top:60px;
  left:130px;
}

.sec-2{
  height: 700px;
  width: 90%;
  display: inline-block;
  position: relative;
  left:-50px;
  top:60px;
  
}

.intro {
  width:90%;
  height:90%;
  font-size:15px;
  font-weight: bold;
  line-height:2;
  letter-spacing: 2px;
  margin-left: 3px;
  position: relative;
  top: 15px;
  text-align: start;
}
.resume{
  padding:20px 20px;
  text-decoration: none!important;
  font-size:20px;
  letter-spacing:2px;
  position:relative;
  top:-20rem;
  right:10px;

}
/*....Work Section ....*/

.worksection{
  height: 1200px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;

}
.workh1{
  display: none;
}
.heading{
  position: relative;
  left:50px;
  height: 900px;
}
.myh3{
  width:50%;
  height: 10rem;
  position: relative;
  left:5em;
  font-size:6rem;
  font-family: sans-serif;
}

.proimg{
  height:30rem;
  width:60rem;
  border-radius: 10px;
  border: 3px solid grey;
  box-shadow: 10px 10px 20px black;
}


.wrk1{
  height:150px;
  width:300px;
  /* position: relative;
  top:30px;
  left:40px; */
 
}

.wrk2{
  height:150px;
  width:300px;
  /* position: relative;
  top:60px;
  left:40px; */
 
}


.wrk3{
  height:150px;
  width:300px;
  /* position: relative;
  top:100px;
  left:40px; */
 
  
}
.wrk4{
  height:150px;
  width:300px;
  /* position: relative;
  top:140px;
  left:10px; */
  
}

.wrk5{
height:150px;
 width:300px;
/*  
  position: relative;
  left:15px;
  top:-40px; */

}



/*--------------------------------------------------------------*/
/*.... contact me ....*/
.contact-me{
width:100%;
height:150rem;

}
.contactme{
  width:80%;
height:100%;
margin-top: 10rem;
position:relative;
left:70px;

}

.getintouch{
  width:80%;
  height:300px;
  position: relative;
  top:30rem;
  left:0;
  text-align:start;
  z-index: 2;
  
}

.getintouch a{
  line-height:2;
  font-size: 4rem;
  color: rgb(205, 203, 200);
  letter-spacing:2px;
  text-decoration:none;
}


.getintouch h1{
  font-size: 6rem;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(205, 203, 200);
  line-height:3;
  letter-spacing:0.5rem;
}
.p{
  position:relative;
  bottom:90px;
  font-size:20px;
  color:#212529;
  
}

.line1{
  position:relative;
  bottom:10rem;
  color: rgb(205, 203, 200);
}
.line2{
  position: relative;
  left:50px;
  bottom:10rem;
  color: red;
}
.ctnimg{
  opacity: 70;
  width:30rem;
  height:120rem;
  position: absolute;
  left:50rem;
  top:10rem;
  box-shadow: 5px 5px 10px black;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.2;
  

}
.ctnimg:hover{
  position: absolute;
  right:280px;
  top:100px;
  transition: 0.5s;
  box-shadow: 5px 5px 10px black;
}


/* --------------------------------------------------------------------------- */

/*.... Footer ....*/

.footer{
  position: relative;
  height: 150rem;
  width:100%;
  color:#fff;
  display:flex;
  flex-direction: column;
  align-items: center;

}
.footer1{
  height:150px;
  width: 90%;
  position: absolute;
  left: 12px;
  top:10rem;
  display: inline-block;
  text-align: start;

}
.footer1 h3{
  font-size: 5rem;

}
.footer1 p{
  height:30px;
  width:70%;
  font-size:4rem;
  color:rgb(112, 111, 111);
}

.explore{
  display: inline-block;
  width:90%;
  height:50rem;
  position: relative;
  top:50rem;
  left:-2rem;
  text-align: start;

}

.explore li{
  position: relative;
  left:0;
  list-style: none;
  
}

.explore h3{
  font-size: 4rem;
}
.explore a{
  font-size: 4rem;
  width: 100%;
  text-decoration: none;
  color:rgb(112, 111, 111);
}

.explore a:hover{
  color:#bdbcbc;
}

.follow{
  position:absolute;
  top:110rem;
  left:3rem;
  height:20rem;
  width:500px;
  text-align:start;
  margin-bottom:10rem;
}
.follow h3{
  font-size: 4rem;
}

.follow a{
  margin:15px 20px ;
  position:relative;
  top:4rem;
  left:0;
  font-size:7rem;
  text-decoration: none;
  color:rgb(112, 111, 111);

}
.follow a:hover{
  color:aquamarine;
}

.copyright {
  display: inline-block;
  position: absolute;
  bottom:2rem;
  left:0;
  height:50px;
  width:100%;
  font-size: 4rem;
  color: #eaf6f6;
}


/*---------.... skills ....----------------------------*/
.csk{
  width:100%;
  position: relative;
  padding-top: 13rem;
  background-color: #212121;
  align-content: center;

}

#skills {
  height:150rem;
  background-color: #212121;
  color: #808080;
  text-align: center;
  position: relative;
  left:-5rem;
  top:-1rem;
}
.listsc{
  position: relative;
  left:10rem;
  width: 90%;
  height: 100%;

}
.h2-skill {
  position: relative;
  top:1rem;
  font-size: 5rem;
  color:white;
}
.em {
  padding: 20px 0 50rem 0;
  font-size: 4rem;
  position: absolute;
  top:-15rem;
  z-index: 11;
  left: 1.2rem;
  text-align: center;
  color:white;
  font-family: "Courier New", Courier, monospace;
}
.break em{
  position: relative;
  top:-8rem;
}

.pr-j {
  position: relative;
  left:-10rem;
  margin:0rem;
  height:2.5rem;
  background-color:rgb(70, 69, 69);
  line-height: 5;
  padding-top: 3rem;
  padding-right: 40rem;
  border-radius:2rem;
  border-right: solid 30rem rgb(56, 51, 51);

}
li{
  position: relative;
  top:1rem;
  margin-bottom: 10rem ;
}
.pr-s {
  /* height:25px; */
  background-color:rgb(70, 69, 69);
  line-height: 5;
  /* padding-top: 3rem; */
  padding-right: 45rem;
  border-radius:10px;
  border-right: solid 25rem rgb(56, 51, 51);
}

.pr-j2 {
  margin:0;
  /* height:3rem; */
  background-color:rgb(70, 69, 69);
  line-height: 5;
  /* padding-top: 3rem; */
  padding-right: 30rem;
  border-radius:10px;
  border-right: solid 40rem rgb(56, 51, 51);
}

.pr-h {
  background-color:rgb(70, 69, 69);
  line-height: 5;
  /* padding-top: 3rem; */
  padding-right: 55rem;
  border-radius:10px;
  border-right: solid 15rem rgb(56, 51, 51);
}

.pr-c {
  background-color:rgb(70, 69, 69);
  line-height: 5;
  /* padding-top: 3rem; */
  padding-right: 20rem;
  border-radius:10px;
  border-right: solid 50rem rgb(56, 51, 51);
}

.pr-js {
  background-color:rgb(70, 69, 69);
  line-height: 5;
  /* padding-top: 3rem; */
  padding-right: 25rem;
  border-radius:10px;
  border-right: solid 45rem rgb(56, 51, 51);
}

.skill-row {
  height:100%;
}

.next-round{
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
  position: relative;
  left:800px;
  top:350px;
  color: white;
  font-size: 70px;
  background-color:none;
  border-radius:50%;
}
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/

/*.... Education ....*/
.eudcation{
  margin: 0;
  padding:0;
  width:100%;
  height:150rem;
  background-color:#212121;
  position: relative;
  top:10px;
  align-items:center;

}

.edu{
  margin: 0;
  position: relative;
  top:10px;
  color:#fff;
  line-height:2;
  font-size: 5rem;
  display:block;


}

.clg-name{
  width:70%;
  position:relative;
  left:2rem;
  top: 1rem;
  font-size:3rem;
  text-align:center;
  letter-spacing: 2px;
}

.qn{
  display:block;
  color:#fff;
  width:70%;
text-align:center;
position:relative;
font-size: 2.5rem;
top:2rem;
left:30rem;

}

.clg-info-a{
width:60%;
height:25em;
position: relative;
top: 5rem;
left:0;
text-align:start;
font-size:2.5rem;
/* display:none; */
letter-spacing: 2px;

}
.clg-info-b{
width:70%;
height: 10em;
text-align:start;
font-size:2.5rem;
position:relative;
top: -2em;
left:-1rem;
letter-spacing: 2px;
/* display:none; */

}
.mca{
  position: relative;
  top: -2em;
  left: 30rem;
}

.gnp{
    position: relative;
    top: -2em;
    left:3rem;
    font-size:3rem;
    letter-spacing: 2px;
}



/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/

/*.... Training ....*/
.Training{
  width:100%;
  height:150rem;
  margin: 0;
}
.trn{
  height: 3rem;
  position: relative;
  top:-7rem;
  left:3rem;
  font-size: 5rem;
  color:white;
  line-height:2;
  display: inline-block;
}
.jsp{
    font-size: 5rem;
    position:relative;
    top: 2rem;
    left:1px;
    height:10rem;
    width:70%;
    letter-spacing:2px;
}
.info-a{
position:relative;
width:80%;
height:20rem;
top: 2rem;
left:20rem;
font-size:3rem;
line-height:2;
text-align: start;
letter-spacing: 2px;

}
.jsq{
    font-size: 3rem;
    position: relative;
    top:4rem;
    left:25rem;
}

.java-i{
width:50%;
  text-align: start;
  display: inline-block;
  position: relative;
  left:10rem;
  top:200px;
  line-height: 3;
}
.logo{
  position: relative;
  top:10rem;
  left:20rem;
  height:80rem;
  width: 70%;
  color: #fff;
  
}
.logo .java{
  display: inline-block;
  position: relative;
  top:1rem;
  font-size:10rem;
  left:1rem;
  color:lightblue;
}
.logo .javascript{
  display: inline-block;
  position: relative;
  top:1rem;
  left:30rem;
  color:yellow;
  font-size:10rem;
}
.logo .react{
  display: inline-block;
  position: relative;
  top:30rem;
  font-size:10rem;
  left:-15rem;
  color:aqua;
} 
.logo .html1{
   display: inline-block;
  position: relative;
  top:30rem;
  font-size:10rem;
  left:10rem;
  display: inline-block;
  color:Darkorange;


}
.logo .css{
  display: inline-block;
  position: relative;
  top:60rem;
  left:-35rem;
  font-size:10rem;
  display: inline-block;
  color:blue;

}
.logo .boot{
  display: inline-block;
  position: relative;
  top:60rem;
  font-size:10rem;
  left:-10rem;
  display: inline-block;
  color:#8665e3;

}



/*-------------------------------------------------------------*/


}
