

/*....head....*/
::-webkit-scrollbar{
  display:none;
}
html{
  font-size:62.5%;
}
#loading{
  z-index: 100;
  width:100%;
  height: 100vh;
  position:fixed;
  background-color:#181818;
  
}
.circle{
  position:relative;
  top:30rem;
  margin: 70px auto;
  width:100px;
  height: 100px;
  border:3px solid rgb(0, 255, 255);
  border-radius:50%;
  border-top: #fff;
  animation: spin 1s linear infinite;

}
@keyframes spin{
  100%{
    transform:rotate(360deg);
  }
}

#loading h1{
  position:relative;
  top:400px;
  font-weight: lighter;
  color:#000;
  letter-spacing:40px;
}

#loading h1 span{
  color:#fff;
}

/*--------------------------------------------------------------*/

/*....body....*/

body {
  margin: 0;
  /* width: 100%; */
  padding: 0;
  border: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #181818 !important;
}

/* -------------------------- */
.position{
  position: fixed;
}
#mobile{
  display: none;
}


/*--------------------------------------------------------------*/

/*.... tags ....*/

h2 {
  display: inline-block;
}

p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 1rem;
  width: 100rem;
  font-size: 2.5rem;
  display: inline-block;
}

/*--------------------------------------------------------------*/

/*---menu btn------*/

.navbarsection{
  position:fixed;
  z-index: 55;
  max-width: 2200px;
  width: 100vw;
  height: 10rem;
  backdrop-filter: blur(2rem);
  background:rgba(0,0,0,0.002);
}

.navbarsection h1{
  position: absolute;
  left:20rem;
  top:3rem;
  font-size: 4rem;

}
.navbarsection h1 a{
  text-decoration: none;
  color:#fff;
}

.navbarsection span{
  color: aqua;
}

#hamburger{
  display: inline-block;
  position: absolute;
  top:3rem;
  right:5rem;
  height:7rem;
  width:7rem;
  background:transparent;
  border: transparent;
  cursor:pointer;
  background-color: transparent;
  transition:0.5s;
}

.fs{
  display: inline-block;
  width:4rem;
  background-color: #fff;
  border: 0.2rem solid #fff;
}


.ss{
  position: relative;
  bottom: 0.2rem;
  display:inline-block;
  width:3rem;
  max-width:50%;
  background-color: #fff;
  border: 0.2rem solid #fff;
  

}




/*--------------------------------------------------------------*/

/*....nav Section....*/

.cross{
   z-index:15 ;
  display: inline-block;
  position: absolute;
  top:2rem;
  right:5rem;
  height:7rem;
  width:7rem;
  background:transparent;
  border: transparent;
  cursor:pointer;
  background-color: transparent;
  text-align:center;
}

.cross1{
  position: relative;
  top:30%;
  font-size:3rem;
}

.topsection{
  display: none;
  width: 100vw;
  height: 100vh;
  background:transparent;
  backdrop-filter: blur(3rem);
  position: fixed;
  z-index:85;
  text-align: start;

}
.ul-list{
  width: 100vw;
  height: 100vh;
  list-style-type: none;
}

.ul-list li{
  max-width:100%;
  width: 80vw;
  position: relative;
  top:20rem;
  padding:1rem ;
  left: 20rem;
  cursor: pointer;
  margin-bottom: 3.5rem;
  border:2px solid rgb(205, 203, 200);
  backdrop-filter: blur(10px);
  transition:0.5s;
  box-shadow: 10px 10px 25px black;
  

}
.ul-list li:hover{
  position: relative;
  background-color:#111;
  top:18rem;
  left: 20rem;
  transition: 0.8s;
  box-shadow: 1rem 1rem 2.5rem black;
  border-radius: 2.5rem;

}

.x{
  align-items: center;
  max-width:80vw;
  width:100%;
  position: relative;
  left:3rem;
  font-size: 4rem;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  font-family: sans-serif;
  letter-spacing:0.5rem;
}
.x:hover{
  color: #fff;
}

.hm-1{
  padding-right: 88%;

}

.pr-1{
padding-right: 88%;
}
.sk-1{
  padding-right: 89%;
}

.wr-1{
  padding-right: 90%;

}

.cn-1{
  padding-right: 83%;

}


/*--------------------------------------------------------------*/

/*....HOME PAGE....*/
.top{
  text-align: start;
  width: 100vw;
  height: 95vh;

}
.t-a{
  display: inline-block;
  position: relative;
  font-size: 6rem;
  color: rgb(205, 203, 200);
  font-family:sans-serif;
  letter-spacing:0.3rem;
  

}

.top-nm {
  display: inline-block;
  position: relative;
  top:25rem;
  left: 30rem;
  height: 50rem;
  width: 70rem;
  max-width:100%;
  z-index: 10;
  margin: 0;
  position: relative;
  background-color:transparent;

}
.bchome{
  width: 60rem;
  height: 60rem;
  background-size: contain;
  position: relative;
  left: 20%;
  top:48%;
  z-index: 7;
  background-color:transparent;

}

.top-name {
  width: 60rem;
  height: 15rem;
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 10rem;
  color: rgb(205, 203, 200);
  position: relative;
  font-family:'Kiwi Maru', sans-serif;
  cursor: pointer;
  transition: 0.3s;
  /* animation: color-changes 10s infinite 2s; */

}

@keyframes color-changes {
    0%{
      color: red;
    }
    20%{
      color: skyblue;

    }
    40%{
      color: blueviolet;

    }
    60%{
      color: blue;

    }
    80%{
      color: orange;

    }
    100%{
      color: purple;

    }


}

.top-name:hover {
  transition: 0.7s;
  color:rgb(124, 158, 155);

}

.head-p {
  position: relative;
  height: 10rem;
  width: 50rem;
  color: rgb(205, 203, 200);
  letter-spacing:0.3rem;
}
.scrdwn{
  letter-spacing: 0.5rem;
  font-size: 1.3rem;
  position: absolute;
  left:0%;
  top:92rem;
  font-family: sans-serif;
  color: rgb(205, 203, 200);
  transform: rotate(90deg);
}
.ctn-head{
  position: relative;
  top:1rem;
  padding: 1.3rem 3.5rem;
  border:2px solid rgb(205, 203, 200);
  backdrop-filter: blur(10px);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  transition: 0.8s;
  letter-spacing: 0.2rem;
  /* animation:color-change 10s infinite 2s ; */
}
@keyframes color-change {
    0%{
      background-color: red;
  

    
    }
    20%{
      background-color: skyblue;
  


    }
    40%{
      background-color: blueviolet;
      

    }
    60%{
      background-color: blue;

    }
    80%{
      background-color: orange;

    }
    100%{
      background-color: purple;

    }


}

.ctn-head:hover{
  position: relative;
  top:0.4rem;
  color:#fff;
  border-radius: 0.6rem;
  transition: 0.5s;
  box-shadow: 10px 10px 10px black;
  background: transparent;
  border:2px solid rgb(205, 203, 200);
}
/*--------------------------------------------------------------*/

/*.... Social Links ....*/

.bottom-container {
  height: 30rem;
  width: 5%;
  display:block;
  line-height: 2;
  position: relative;
  top:-10rem;
  left: 195rem;

}
.bottom-container:hover {
  color: #707070;
}

.footer-link { 
  display:block;
  position: relative;
  margin: 0.5rem;
  font-family: sans-serif;
  font-size: 4rem;
  text-decoration: none;
  color: aliceblue;
  text-align: center;
  /* border-radius:5rem; */
  /* box-shadow: 0px 0px 10px rgb(61, 156, 156); */
}
.footer-link:hover {
  color:aqua;
}
/* .tw{
  position: relative;
  top:65%;
  left:-20%;

} */


/*--------------------------------------------------------------*/

/*.... profile ....*/

#profile {
  margin: 0;
  padding: 50px 0 400px 100px;
  background-color: #202020;
  color: #808080;
  line-height: 2;
  padding-bottom: 13px;
}

.abt-me{
  padding-left: 2rem;
  height: 10rem;
  display: inline-block;
  position: relative;
  right:90rem;
  top:10rem;
  border-left:3px solid aqua ;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.8s;
  font-size:3rem;
}
.abt-me:hover{
  transition: 0.5s;
  color: aqua;
  border-left:3px solid grey ;
  border-radius: 5px;
  cursor: pointer;


}

.myself{
  position: relative;
  left:80rem;
  bottom:3rem;
  height:23rem;
  width:60rem;
  max-width:50%;

}

.mypic {
  margin: 0;
  position: relative;
  top:-2rem;
  right:15rem;
  width: 23rem;
  height: 23rem;
  display: inline-block;
  box-shadow: 10px 10px 20px rgb(17, 57, 102);
  border-radius: 50%;
  border: 3px solid #191919;
  cursor: pointer;
  transition: 2s;
}
.mypic:hover{
  transform: scale(1.05);
}

.nm-h3 {
  font-family:'Kiwi Maru', sans-serif;
  display: inline-block;
  font-size: 3.5rem;
  height: 5rem;
  position: relative;
  bottom: 14rem;
  left:8rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  border-bottom: 3px solid rgb(17, 57, 102);
  color: rgb(13, 97, 97);
}

.sec-2{
  height: 60rem;
  width: 110rem;
  max-width:100%;
  display: inline-block;
  position: relative;
  top:-3rem;
  
}

.intro {
  font-size:2.2rem;
  line-height:3;
  letter-spacing: 0.3rem;
  margin-left: 0.3rem;
  text-align: start;
}
.resume{
  position:relative;
  top:7rem;
  right:39rem;
  padding:20px 20px;
  color:white;
  border:1px solid white;
  background-color:none;
  text-decoration: none!important;
  transition: 0.5s;
  font-size:1.5rem;
  letter-spacing:2px;

}

.resume:hover{
  position:relative;
  top:6rem;
  color:#fff;
  box-shadow: 10px 10px 20px black;
  background-color:transparent;
  border-radius: 10px;
  transition: 0.8s;

}

/*--------------------------------------------------------------*/

.edu-me{
  padding-left: 2rem;
  height: 10rem;
  font-size:3rem;
  display: inline-block;
  position:absolute;
  right: 77rem;
  color: grey;
  top:3rem;
  border-left:3px solid aqua ;
  border-radius: 5px;
  z-index: 5;
  transition: 0.8s;
}
.edu-me:hover{
  transition: 0.5s;
  color:aqua;
  border-left:3px solid grey ;
  border-radius: 6px;
  cursor: pointer;

}
.edu-me1{
  display: inline-block;
  position: absolute;
  z-index: 5;
}
.king{
  position: relative;
  top:12rem;
}


/*.... skills ....*/
.csk{
  position: relative;
  padding-top: 13rem;
  background-color: #212121;

}

#skills {
  padding:0 0 23rem;
  background-color: #212121;
  color: #808080;
  text-align: center;
}

.h2-skill {
  position: relative;
  top:5rem;
  font-size: 3rem;
  color:white;
}
.em {
  margin: 2rem 0 ;
  padding: 10px 0 4rem 0;
  font-size: 2rem;
  position: absolute;
  bottom:-4rem;
  left: 31.25rem;
  text-align: center;
  color:white;
  font-family: "Courier New", Courier, monospace;
}

.pr-j {
  margin:0rem;
  height:2.5rem;
  background-color:rgb(70, 69, 69);
  line-height: 5;
  padding-top: 3rem;
  padding-right: 60rem;
  border-radius:1rem;
  border-right: solid 30rem rgb(56, 51, 51);

}
li{
  position: relative;
  top:3rem;
  margin: 3rem 0rem;
}

.pr-s {
  /* height:25px; */
  background-color:rgb(70, 69, 69);
  line-height: 5;
  padding-top: 3rem;
  padding-right: 45rem;
  border-radius:10px;
  border-right: solid 45rem rgb(56, 51, 51);
}

.pr-j2 {
  margin:0;
  /* height:3rem; */
  background-color:rgb(70, 69, 69);
  line-height: 5;
  padding-top: 3rem;
  padding-right: 30rem;
  border-radius:10px;
  border-right: solid 60rem rgb(56, 51, 51);
}

.pr-h {
  background-color:rgb(70, 69, 69);
  line-height: 5;
  padding-top: 3rem;
  padding-right: 65rem;
  border-radius:10px;
  border-right: solid 25rem rgb(56, 51, 51);
}

.pr-c {
  background-color:rgb(70, 69, 69);
  line-height: 5;
  padding-top: 3rem;
  padding-right: 20rem;
  border-radius:10px;
  border-right: solid 70rem rgb(56, 51, 51);
}

.pr-js {
  background-color:rgb(70, 69, 69);
  line-height: 5;
  padding-top: 3rem;
  padding-right: 30rem;
  border-radius:10px;
  border-right: solid 60rem rgb(56, 51, 51);
}

.skill-row {
  padding: 100px;
}

.next-round{
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
  position: relative;
  left:800px;
  top:350px;
  color: white;
  font-size: 70px;
  background-color:none;
  border-radius:50%;
}
/*--------------------------------------------------------------*/

/*.... Education ....*/
.eudcation{
  position:relative;
  top:10rem;
  left:-5rem;
  padding:0 0 20rem;
  background-color:#212121;

}

.edu{
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size:3rem;
  color:white;
  line-height:2;
  display: inline-block;


}

.clg-name{
  display: inline-block;
  padding-bottom:2rem;
  font-size:3rem;
  color:white;
  text-align:start;
}

.qn{
  display: inline-block;
  margin-bottom:5rem;
  font-size:2rem;
  padding-bottom:2rem;
  color:rgb(235, 221, 221);
text-align:start;

}

.clg-info-a{
  display: inline-block;
padding-left: 10rem;
padding-bottom: 30rem;
color:#808080;
text-align:start;
font-size:2rem;
  line-height:3;
  letter-spacing: 3px;

}
.clg-info-b{
  display: inline-block;
padding-bottom:70px;
padding-left: 100px;
color:#808080;
text-align:start;
font-size:20px;
  line-height:3;
  letter-spacing: 3px;

}



/*--------------------------------------------------------------*/

/*.... Training ....*/


.Training{
  margin: 0;
  padding-bottom: 1rem;
  display:block;
  background-color:#212121;
  text-align:center;
}

.trn{
  position: relative;
  top:5rem;
  padding-top: 7rem;
  padding-bottom: 5rem;
  color:white;
  line-height:2;
  display: inline-block;


}
.jsp{
  position:relative;
  top:3rem;
}
.qn{
  position:relative;
  top:4rem;
  left:8rem;
  display: inline-block;
  padding-right: 15rem;
  padding-left: 15px;
  padding-bottom:2px;
  color:rgb(235, 221, 221);
text-align:start;

}
.qn::after{
  content:'';
  width:0%;
  height: 3px;
  background:aqua;
  display: block;
  margin: auto;
  transition:0.5s;


}

.qn:hover::after{
  width: 100%;
}

.info-a{
  position:relative;
  top:3rem;
  left:550px;
  display: block;
  margin-top: 20px;
width: 50%;
height: inherit;
color: gray;
letter-spacing:3px;

}


.logo{
  position: relative;
  top:3rem;
  left:32rem;
  height:60rem;
  width: 70vw; */
  color: #fff;
  
}
.logo .java{
  display: inline-block;
  position: relative;
  top:4rem;
  font-size:10rem;
  left:-33rem;
  color:lightblue;
}
.logo .javascript{
  display: inline-block;
  position: relative;
  top:4rem;
  left:13rem;
  color:yellow;
  font-size:10rem;
}
.logo .react{
  display: inline-block;
  position: relative;
  top:4rem;
  font-size:10rem;
  left:53rem;
  color:aqua;
} 
.logo .html1{
   display: inline-block;
  position: relative;
  top:30rem;
  font-size:10rem;
  left:-60rem;
  display: inline-block;
  color:Darkorange;


}
.logo .css{
  display: inline-block;
  position: relative;
  top:30rem;
  left:-15rem;
  font-size:10rem;
  display: inline-block;
  color:blue;

}
.logo .boot{
  display: inline-block;
  position: relative;
  top:30rem;
  font-size:10rem;
  left:25rem;
  display: inline-block;
  color:#8665e3;

}


/*-------------------------------------------------------------*/

/*....Work Section ....*/

.work{
  display:flex;
  flex-direction:row;
  height: 1100px;
  width: 100vw;
  position: relative;
  top:5rem;

}
.workh1{
  /* flex-direction: row; */
  padding-left: 20px;
  height: 10rem;
  display: inline-block;
  position: relative;
  right:-9rem;
  top:10rem;
  font-size:3rem;
  font-weight: bold;
  border-left:3px solid aqua ;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8s;
  color:grey;
}
.workh1:hover{
  transition: 0.5s;
  color: aqua;
  border-left:3px solid grey ;
  border-radius: 5px;
  cursor: pointer;
}

.padd{
  margin-right: 10rem;
  margin-bottom: 10rem;
  position: relative;
  top:0px;
  left: 0px;
}
.myh3{
  z-index: 12;
  position:relative;
  top:15rem;
  left:85rem;
  height:5rem;
  color:#fff;
  font-size:40px;
  font-family:sans-serif;
  font-weight:bold;
  letter-spacing:3px;
}

.heading{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  height:60rem;
  width:80vw;
  text-align: center;
  position: relative;
  top:30rem;
  left:-3rem;

}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(0, 0, 0, 0.700);
  /* backdrop-filter: blur(30px); */
  overflow: hidden;
  width: 100%;
  height: 0;
  border-radius: 10px;
  transition: .5s ease;
}

.wrk1{
  height:200px;
  width:400px;
  /* position: relative;
  top:150px;
  left: 100px; */

}



.wrk1:hover .overlay {
  height: 100%;
}
.wrk2:hover .overlay {
  height: 100%;
}

.wrk3:hover .overlay {
  height: 100%;
}

.wrk4:hover .overlay {
  height: 100%;
}

.wrk5:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  color:aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.proimg{
  height:200px;
  width:400px;
  border-radius: 10px;
  border: 3px solid grey;
  box-shadow: 10px 10px 20px black;
}


.wrk2{
  height:200px;
  width:400px;
  /* position: relative;
  top:-50px;
  left:650px;
  */
}


.wrk3{
  height:200px;
  width:400px;
  /* position: relative;
  top:-250px;
  left: 1200px;
  */
  
}
.wrk4{
  height:200px;
  width:400px;
  /* position: relative;
  left:350px;
  top:-100px;
   */
}

.wrk5{
   height:200px;
  width:400px;
  /* position: relative;
  left:950px;
  top:-300px; */

}



/*--------------------------------------------------------------*/


/*.... contact me ....*/
.contact-me{
width:100%;
height:1100px;

}
.contactme{
  width:95%;
height:1100px;
position:relative;
left:70px;

}

.getintouch{
  width:800px;
  height:300px;
  position: relative;
  top:300px;
  left:250px;
  text-align:start;
  z-index: 2;
  
}

.getintouch a{
  line-height:2;
  font-size: 20px;
  color: rgb(205, 203, 200);
  letter-spacing:2px;
  text-decoration:none;
}

.getintouch a:hover{
  color: rgb(90, 89, 89);
}


.getintouch h1{
  font-size: 100px;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(205, 203, 200);
  line-height:3;
  letter-spacing:15px;
}
.p{
  position:relative;
  bottom:90px;
  font-size:20px;
  color:#212529;
  
}

.line1{
  position:relative;
  bottom:100px;
  color: rgb(205, 203, 200);
}
.line2{
  position: relative;
  left:50px;
  bottom:100px;
  color: red;
}
.ctnimg{
  width:900px;
  height:900px;
  position: absolute;
  right:300px;
  top:100px;
  box-shadow: 5px 5px 10px black;
  cursor: pointer;
  transition: 0.5s;
  

}
.ctnimg:hover{
  position: absolute;
  right:280px;
  top:100px;
  transition: 0.5s;
  box-shadow: 5px 5px 10px black;
}


/*--------------------------------------------------------------*/


/*.... Footer ....*/

.footer{
  position: relative;
  height: 600px;
  width:100%;
  color:#fff;

}
.footer1{
  height:150px;
  width: 750px;
  position: absolute;
  left: 120px;
  top:100px;
  display: inline-block;
  text-align: start;

}
.footer1 p{
  height:30px;
  width:70%;
  color:rgb(112, 111, 111);
}

.explore{
  display: inline-block;
  width:200px;
  position: relative;
  top:100px;
  text-align: start;

}

.explore li{
  margin-bottom:-1rem;
  position: relative;
  top:0;
  right:20px;
  list-style: none;
  font-size: 2rem;
  
}

.explore a{
  text-decoration: none;
  color:rgb(112, 111, 111);
}

.explore a:hover{
  color:#bdbcbc;
}

.follow{
  position:absolute;
  top:100px;
  right:200px;
  height:200px;
  width:500px;
  text-align:start;
}

.follow a{
  margin:15px 20px ;
  position:relative;
  top:20px;
  right:20px;
  font-size:35px;
  text-decoration: none;
  color:rgb(112, 111, 111);

}
.follow a:hover{
  color:aquamarine;
}

.copyright {
  display: inline-block;
  position: absolute;
  bottom:10px;
  left:40%;
  height:50px;
  width:500px;
  font-size: 20px;
  color: #eaf6f6;
}

/*--------------------------------------------------------------*/
